<?xml version="1.0"?>
<model>
  <name>robot_diferencial</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhandy Cardenas</name>
    <email>rhandy.cardenas-curo@hds.utc.fr</email>
  </author>

  <description>
    A diferential robot for tests.
  </description>
</model>