# Gazebo simulation configuration file
#
#
# Contact:
# Rhandy Cardenas, rhandy.cardenas-curo@hds.utc.fr
#

parameters:
  ## To do: parameters files for each node

simulator: 
    gazebo:
        state: True
        package: quadruped_sim
        world: empty_world.world
        models: 
            - name: robot_diferencial_sensors
              uri: robot_diferencial_sensors
              pose: [0, 0, 0.1, 0, 0, 0] # x, y, z, roll, pitch, yaw
            - name: robot_diferencial
              uri: robot_diferencial
              pose: [5, 0, 0.1, 0, 0, 0] # x, y, z, roll, pitch, yaw
        #param: quadruped_sim.yaml
        #output: log

features:
    quadruped:
        mainnodes:
            control:
                state: False
                package: quadruped_control
                executable: quadruped_control
                name: quadruped_control
                #param: quadruped_control.yaml
                # output: screen
            loc:
                state: False
                package: quadruped_localization
                executable: quadruped_localization
                name: quadruped_localization
                #param: quadruped_localization.yaml
                #output: log
            planning:
                state: False
                package: quadruped_path_planner
                executable: quadruped_path_planner
                name: quadruped_path_planner
                #param: quadruped_path_planner.yaml
                #output: screen
            slam:
                state: False
                package: quadruped_slam
                executable: quadruped_slam
                name: quadruped_slam
                #param: quadruped_slam.yaml
                #output: screen