# =============================================================================
# Simulation Configuration File
# =============================================================================
#
# This configuration file is used to keep the launch system modular, avoiding
# the need for recompilation when switching between different simulation setups.
# Through this file, the user can:
#
#   • Select the virtual robot to be deployed in Gazebo.
#   • Choose the simulated environment (world file).
#   • Enable or disable the main ROS nodes depending on the desired configuration.
#
# -----------------------------------------------------------------------------
# Contact Information
# -----------------------------------------------------------------------------
#   Author:  Rhandy Cardenas
#   Email:   rhandy.cardenas-curo@hds.utc.fr
#
# -----------------------------------------------------------------------------
# Compatible Robots
# -----------------------------------------------------------------------------
# The following robot models are currently supported by the modular launch system:
#
#   - cerberus_anymal_b_sensor_config_1
#   - Pata_URDF
#   - robot_diferencial
#   - robot_diferencial_sensors
#   - robot_diferencial_sensors_lidar3D
#   - turtlebot3_burger
#   - unitree_go2 (as full robotic project)
#
# -----------------------------------------------------------------------------
# Compatible Gazebo Worlds
# -----------------------------------------------------------------------------
# The following world files can be selected for simulation:
#
#   - empty_world.world
#   - default.sdf
#   - simple_tunnel.world
#
# -----------------------------------------------------------------------------
# Notes
# -----------------------------------------------------------------------------
# * Multiple robots in simulation are not supported yet (Coming soon)
#
# =============================================================================

parameters:
  ## To do: parameters files for each node

simulator: 
    gazebo:
        state: True
        package: quadruped_sim
        world: simple_tunnel.world
        models: 
            - name: unitree_go2
              uri: unitree_go2
              pose: [0, 0, 2.0, 0, 0, 0] # x, y, z, roll, pitch, yaw
        #param: quadruped_sim.yaml
        #output: log

features:
    quadruped:
        mainnodes:
            control:
                state: False
                package: quadruped_control
                executable: quadruped_control
                name: quadruped_control
                #param: quadruped_control.yaml
                # output: screen
            teleop:
                state: False
                package: quadruped_teleop
                executable: quadruped_teleop
                name: quadruped_telop
                #param: quadruped_telop.yaml
                # output: screen
            loc:
                state: False
                package: quadruped_localization
                executable: quadruped_localization
                name: quadruped_localization
                #param: quadruped_localization.yaml
                #output: log
            planning:
                state: False
                package: quadruped_path_planner
                executable: quadruped_path_planner
                name: quadruped_path_planner
                #param: quadruped_path_planner.yaml
                #output: screen
            slam:
                state: False
                package: quadruped_slam
                executable: quadruped_slam
                name: quadruped_slam
                #param: quadruped_slam.yaml
                #output: screen